.blushes-main-div{ 
    width: 100%;
    margin-top: 90px;
    margin-bottom: 80px;
    font-family: $open-sans-font;

    .blushes-main{
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        padding: 0 20px;
@media (max-width:900px) {
    display: inline-block;
}
.respons-box-product-name-div{
    display: flex;
    justify-content: center;
     .respons-box-product-name{
       display: none;
      font-weight: 600;
      font-size: 42px;
      color: #ad8574;
      @media (max-width:900px) {
          display: block;
      }
      @media (max-width:600px) {
          font-size:37px;
      }
     }
   }
.blushes-img-div{
    width: 50%;
    @media (max-width:900px) {
        width: 70%;
        margin: 0 auto;
    }
    @media (max-width:635px) {
        width:80%;
    }
    @media (max-width:560px) {
        width:90%;
    }
    .big-image2{
        width: 65%;
        margin: 0 auto;
        @media (max-width:500px) {
            width: 80%;
        }
        @media (max-width:400px) {
            width: 100%;
        }
        .main-image{
            width: 100%;
        }

    }

    .small-images{
        width: 70%;
       margin: 0 auto;
       @media (max-width:500px) {
            width: 90%;
    }
    @media (max-width:400px) {
            width: 100%;
    }
        .box-img1{
            width: 31%;
            @media (max-width:400px) {
            width: 30%;
            }
        }
        .box-img2{
            width: 33%;
            @media (max-width:400px) {
            width: 32%;
            }
        }
        .box-img3{
           width: 33%;
           @media (max-width:400px) {
            width:32%;
        }
        }
    }


}


.blushes-description{
width: 50%;
@media (max-width:900px) {
    width: 80%;
    margin: 0 auto;
}
@media (max-width:650px) {
    width:90%;
}

@media (max-width:550px) {
    width:100%;
}
.blushes-product-name-div{
    margin-top: 20%;
    display: flex;
    justify-content: center;
    @media (max-width:900px) {
        margin-top: 20px;
    }
    .blushes-product-name{
        font-weight: 600;
        font-size: 48px;
        color: #ad8574;
        @media (max-width:900px) {
            display: none;
        }
    }
}

.blushes-price-div{
    display: flex;
  justify-content: center;
    .blushes-price{
        margin-top: 5%;
        font-weight: 600;
        color: $color-light-nude;
    }
}
.blushes-button{
    display: flex;
    justify-content: center;
    .blushes-buy-now{
        outline: none;
        margin-top: 2%;
        color: #fff;
        background-color: #c39885;
        line-height: normal;
        max-width: 100%;
        height: auto;
        line-height: 1;
        border-radius: 2px;
        padding: 0 .2em;
        border: 0;
        cursor: pointer;
        padding: 11px 40.7px;
    }
}
.blushes-text-div{
    max-width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    @media (max-width:460px) {
        margin-top: 8%;
    }
    .blushes-text{
        margin-top: 1%;
        font-weight: 600;
        line-height: 1.4;
        color: $color-light-nude;
    }
}
.blushes-net-div{
    display: flex;
    justify-content: flex-start;
    .blushes-net{
        margin-top: 2.5%;
        font-weight: 600;
        line-height: 1.4;
        color: $color-light-nude;
        @media (max-width:460px) {
        margin-top: 4%;
        }
    }
}
.blushes-shade{
    display: flex;
      justify-content: center;
      margin-top: 30px;
      height: 35px;
      align-items: center;
      .label{
        margin-right:10px;
      }
      .select{
        outline: none;
        border: 1px solid #dcdcdc;
        background-color: #fff;
        width: 100px;
        height: 30px;
      }
  }
  /* -- quantity box -- */
.quantity-box{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    .quantity-title{
        margin-right: 3%;
    }
    .quantity {
        display: inline-block; }
       
       .quantity .input-text.qty {
        width: 35px;
        height: 39px;
        padding: 0 5px;
        text-align: center;
        background-color: transparent;
        border: 1px solid #efefef;
       }
       
       .quantity.buttons_added {
        text-align: left;
        position: relative;
        white-space: nowrap;
        vertical-align: top; }
       
       .quantity.buttons_added input {
        display: inline-block;
        margin: 0;
        vertical-align: top;
        box-shadow: none;
       }
       
       .quantity.buttons_added .minus,
       .quantity.buttons_added .plus {
        padding: 7px 10px 8px;
        height: 41px;
        background-color: #ffffff;
        border: 1px solid #efefef;
        cursor:pointer;}
       
       .quantity.buttons_added .minus {
        border-right: 0; }
       
       .quantity.buttons_added .plus {
        border-left: 0; }
       
       .quantity.buttons_added .minus:hover,
       .quantity.buttons_added .plus:hover {
        background: #eeeeee; }
       
       .quantity input::-webkit-outer-spin-button,
       .quantity input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        margin: 0; }
        
        .quantity.buttons_added .minus:focus,
       .quantity.buttons_added .plus:focus {
        outline: none; }
       
    
  }
  
}















    }
}