.collection-main-div{
    margin-top: 50px;
    @extend %selling-products-main-div;
    .collection{
        @extend %selling-products-div;
        @media (max-width:995px) {
            flex-wrap: wrap;
          }


//first product
.eyeshadows{
    @media (max-width:995px) {
        width: 50%;}
        @media (max-width:630px) {
            width: 60%;
            margin: 0 auto;
    margin-bottom: 30px;
        }
    .eyeshadows-img{
        width: 60%;
        margin: 0 auto;
        display: flex;
   @media (max-width:995px) {
    width: 81%;
   }
  
    }
    .eyeshadows-descript{
        margin-top: 10px;
        .eyeshadows-description{
            @extend %product-description;
        }
        .eyeshadows-product-name{
            @extend %product-name;
        }
        .eyeshadows-price{
            @extend %product-price;
        }
        .eyeshadows-button{
            @extend %display-flex;
            .eyeshadows-buy-now{
                @extend %buy-now-button;
            }
        }
    }
}



//second-product
.lipsticks{
    margin-right: 55px;
    @media (max-width:995px) {
        width: 50%;
        margin-right: 0px;
    }
    @media (max-width:630px) {
        width: 60%;
        margin: 0 auto;
    }
    .lipsticks-img{
        width: 68%;
        margin: 0 auto;
        display: flex;
    }
    .lipsticks-descript{
        margin-top: 10px;
        .lipsticks-description{
            @extend %product-description;
        }
        .lipsticks-product-name{
            @extend %product-name;
        }
        .lipsticks-price{
            @extend %product-price;
        }
        .lipsticks-button{
            @extend %display-flex;
            .lipsticks-buy-now{
                @extend %buy-now-button;
            }
        }
    }
}

//third product
.contours{
    @media (max-width:995px) {
        width: 50%;
        margin: 25px auto;
    }
    @media (max-width:630px) {
        width: 60%;}
    .contours-img{
        width: 100%;
    }
    .contours-descript{
        margin-top: 20px;
        .contours-description{
            @extend %product-description;
        }
        .contours-product-name{
            @extend %product-name;
        }
        .contours-price{
            @extend %product-price;
        }
        .contours-button{
            @extend %display-flex;
            .contours-buy-now{
                @extend %buy-now-button;
            }
        }
    }
}











    }
}
  
  












