.mattes-main-div{
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
    font-family: $open-sans-font;
    .mattes-main{
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        padding: 0 15px;
@media (max-width:900px) {
    display: inline-block;
}
        .respons-box-product-name-div{
            display: flex;
            justify-content: center;
             .respons-box-product-name{
               display: none;
              font-weight: 600;
              font-size: 42px;
              color: #ad8574;
              @media (max-width:900px) {
                display: inline;
                margin-top: 20px;
                margin-bottom: 15px;
              }
              @media (max-width:550px) {
               font-size: 37px;
            }
            @media (max-width:400px) {
               font-size: 35px;
            }
            @media (max-width:350px) {
                font-size: 32px;
                margin-bottom: 10px;
                 
            }
        }
           }
           .respons-box-product-name-div2{
            display: flex;
            justify-content: center;
             .respons-box-product-name2{
               display: none;
              font-weight: 600;
              font-size: 42px;
              color: #ad8574;
              @media (max-width:900px) {
                display: inline;
                margin-bottom: 15px;
              }
              @media (max-width:550px) {
                font-size: 37px;
             }
             @media (max-width:400px) {
                font-size: 35px;
             }
             @media (max-width:350px) {
                 font-size: 32px;

             }
             }
           
           }

.mattes-img-div{
    width: 50%;
    margin: 0 auto;
    @media (max-width:600px) {
      width: 60%;
    }
    @media (max-width:500px) {
      width: 70%;
    }
    @media (max-width:400px) {
      width: 80%;    
    }
    @media (max-width:350px) {
      width: 90%; 
    }
    .big-image2{
        width: 100%;
        .main-image{
            width: 90%;
            margin: 0 auto;
            display: flex;
        }
    }

    .small-images{
        width: 90%;
        margin: 0 auto;
        .box-img1{
            width: 22.5%;
        }
        .box-img2{
            width: 22.5%;
        }
        .box-img3{
            width: 22.5%;
        }
        .box-img4{
            width: 22.5%;
        }
        .box-img5{
            width: 22.5%;
        }
        .box-img6{
            width: 22.5%;
        }
        .box-img7{
            width: 22.5%;;
        }
        .box-img8{
            width: 22.5%;
        }
    }
}




.mattes-description{
    width: 50%;
   margin: 0 auto;
   @media (max-width:850px) {
    width: 65%;
}
@media (max-width:750px) {
    width: 75%;
}
@media (max-width:650px) {
    width: 85%;
}
@media (max-width:500px) {
    width: 95%;
}
@media (max-width:400px) {
    width: 100%;
}
    .mattes-product-name-div1{
        margin-bottom: 10px;
        margin-top: 20%;
        display: flex;
        justify-content: center;
        @media (max-width:900px) {
           margin-top: 0; 
        }
        .mattes-product-name1{
            font-weight: 600;
            font-size: 48px;
            color: #ad8574;
            @media (max-width:900px) {
              display: none;
            }
        }
    }
       
        .mattes-product-name-div2{
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            .mattes-product-name2{
                font-weight: 600;
                font-size: 48px;
                color: #ad8574;
                @media (max-width:900px) {
                 display: none;
                }
            }
        }
    
    .mattes-price-div{
        display: flex;
        justify-content: center;
        .mattes-price{
            margin-top: 5%;
            font-weight: 600;
            color: $color-light-nude;
        }
    }
    .mattes-button{
        display: flex;
        justify-content: center;
        .mattes-buy-now{
            outline: none;
            margin-top: 2%;
            color: #fff;
            background-color: #c39885;
            line-height: normal;
            max-width: 100%;
            height: auto;
            line-height: 1;
            border-radius: 2px;
            padding: 0 .2em;
            border: 0;
            cursor: pointer;
            padding: 11px 40.7px;
        }
    }
    .mattes-text-div{
        max-width: 100%;
        margin-top: 2%;
        display: flex;
        justify-content: center;
        .mattes-text{
            margin-top: 1%;
            font-weight: 600;
            line-height: 1.4;
            color: $color-light-nude;
            @media (max-width:450px) {
              font-size: 15px;
              margin-top: 5%;
            }
        }
    }
    .mattes-net-div{
        display: flex;
        justify-content: center;
        .mattes-net{
            margin-top: 2.5%;
            font-weight: 600;
            line-height: 1.4;
            color: $color-light-nude;
            @media (max-width:450px) {
              font-size: 15px;
              margin-top: 3%;
            }
        }
    }
    .mattes-shade{
        display: flex;
          justify-content: center;
          margin-top: 30px;
          height: 35px;
          align-items: center;
        .label{
            margin-right:10px;
        }
        .select{
            outline: none;
            border: 1px solid #dcdcdc;
            background-color: #fff;
            width: 100px;
            height: 30px;
        }
    
    }
    /* -- quantity box -- */
    .quantity-box{
        display: flex;
        justify-content: center;
        margin-top: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3%;
        .quantity-title{
            margin-right: 3%;
        }
        .quantity {
            display: inline-block; }
           
           .quantity .input-text.qty {
            width: 35px;
            height: 39px;
            padding: 0 5px;
            text-align: center;
            background-color: transparent;
            border: 1px solid #efefef;
           }
           
           .quantity.buttons_added {
            text-align: left;
            position: relative;
            white-space: nowrap;
            vertical-align: top; }
           
           .quantity.buttons_added input {
            display: inline-block;
            margin: 0;
            vertical-align: top;
            box-shadow: none;
           }
           
           .quantity.buttons_added .minus,
           .quantity.buttons_added .plus {
            padding: 7px 10px 8px;
            height: 41px;
            background-color: #ffffff;
            border: 1px solid #efefef;
            cursor:pointer;}
           
           .quantity.buttons_added .minus {
            border-right: 0; }
           
           .quantity.buttons_added .plus {
            border-left: 0; }
           
           .quantity.buttons_added .minus:hover,
           .quantity.buttons_added .plus:hover {
            background: #eeeeee; }
           
           .quantity input::-webkit-outer-spin-button,
           .quantity input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            margin: 0; }
            
            .quantity.buttons_added .minus:focus,
           .quantity.buttons_added .plus:focus {
            outline: none; }
           
        
      }


}












    }
}





.recommend-div{
    width: 100%;
    font-family: $open-sans-font;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0 20px;
    .title-div{
        display: flex;
        justify-content: center;
        .recommendation-title{
            font-weight: bold;
            @media (max-width:325px) {
                font-size: 15px;
            }
        }
    }


    .recommend-main-div{
   max-width: 1170px;
   margin: 0 auto;
   margin-top: 20px;
   border-top: 2px #878a8a solid;
   display: flex;
   justify-content: space-between;
   font-weight: bold;
@media (max-width:700px) {
    flex-wrap: wrap;
    justify-content: space-around;
}



    .box1{
        width: 20%;
        margin-top: 25px;
        @media (max-width:700px) {
            width: 40%;
        }
        @media (max-width:380px) {
            width: 50%;
            margin: 0 auto;
            margin-top: 25px;
        }
        .product-image{
            width: 100%;
            @media (max-width:700px) {
                width: 80%;
                margin: 0 auto;
                display: flex;
            }
            @media (max-width:500px) {
                width: 100%;
            }
        }
        .product-description{
            .product-name-div{
                display: flex;
                justify-content: center;
                .product-name{
                    margin-top: 10px;
                    .product-name-a{
                        color: black;
                        text-decoration: none;
                    }
                }
            }
            .product-div{
                display: flex;
                justify-content: center;
                .product{
                    margin-top: 5px;
                    .product-a{
                        color: black;
                        text-decoration: none;
                    }
                   }
            }
    .product-price-div{
        display: flex;
        justify-content: center;
        .product-price{
            margin-top: 5px;
            .a-price{
                color: black;
                text-decoration: none;
            }
        }
    }
                
        }
    }
    





.box2{
    width: 20%;
    margin-top: 25px;
    @media (max-width:700px) {
        width: 40%;
    }
    @media (max-width:380px) {
        width: 50.1%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .product-image{
        width: 100%;
        @media (max-width:700px) {
            width: 80%;
            margin: 0 auto;
            display: flex;
        }
        @media (max-width:500px) {
            width: 100%;
        }
    }
    .product-description{
        .product-name-div{
            display: flex;
            justify-content: center;
            .product-name{
                margin-top: 10px;
                .product-name-a{
                    color: black;
                    text-decoration: none;
                }
            }
        }
        .product-div{
            display: flex;
            justify-content: center;
            .product{
                margin-top: 5px;
                .product-a{
                    color: black;
                    text-decoration: none;
                }
            }
        }
        .product-price-div{
            display: flex;
            justify-content: center;
            .product-price{
                margin-top: 5px;
                .a-price{
                    color: black;
                    text-decoration: none;
                }
              }
        }
 
     
     }
}




.box3{
    width: 20%;
    margin-top: 25px;
    @media (max-width:700px) {
        width: 40%;
    }
    @media (max-width:380px) {
        width: 50%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .product-image{
        width: 100%;
        @media (max-width:700px) {
            width: 80%;
            margin: 0 auto;
            display: flex;
        }
        @media (max-width:500px) {
            width: 100%;
        }
    }
    .product-description{
        .product-name-div{
            display: flex;
            justify-content: center;
            .product-name{
                margin-top: 10px;
                .product-name-a{
                    color: black;
                    text-decoration: none;
                }
            }
        }
        .product-div{
            display: flex;
            justify-content: center;
            .product{
                margin-top: 5px;
                .product-a{
                    color: black;
                    text-decoration: none;
                }
            }
        }
        .product-price-div{
            display: flex;
            justify-content: center;
            .product-price{
                margin-top: 5px;
                .a-price{
                    color: black;
                    text-decoration: none;
                }
            }
        }
   
     

     }
}





.box4{
    width: 20%;
    margin-top: 25px;
    @media (max-width:700px) {
        width: 40%;
    }
    @media (max-width:380px) {
        width: 50.1%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .product-image{
        width: 100%;
        @media (max-width:700px) {
            width: 80%;
            margin: 0 auto;
            display: flex;
        }
        @media (max-width:500px) {
            width: 100%;
        }
    }
    .product-description{
        .product-name-div{
            display: flex;
            justify-content: center;
            .product-name{
                margin-top: 10px;
                .product-name-a{
                    color: black;
                    text-decoration: none;
                }
            }
        }
        .product-div{
            display: flex;
            justify-content: center;
            .product{
                margin-top: 5px;
                .product-a{
                    color: black;
                    text-decoration: none;
                }
            }
        }
        .product-price-div{
            display: flex;
            justify-content: center;
            .product-price{
                margin-top: 5px;
                .a-price{
                    color: black;
                    text-decoration: none;
                }
            }
        }
     }
}








    }
}