.nude-pallete-main-div{
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
    font-family: $open-sans-font;
    .nude-pallete-main{
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        padding: 0 15px;
        @media (max-width:1042px) {
          display: inline-block;
        }



















        
    }
}