.unbothered-main-div{
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
    font-family: $open-sans-font;
    .unbothered-main{
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        padding: 0 15px;
        @media (max-width:950px) {
          display: inline-block;
        }
        .respons-box-product-name-div{
            display: flex;
            justify-content: center;
             .respons-box-product-name{
               display: none;
              font-weight: 600;
              font-size: 42px;
              color: #ad8574;
              @media (max-width:950px) {
                display: inline;
                margin-top: 20px;
                margin-bottom: 15px;
              }
              @media (max-width:800px) {
                  font-size:37px;
              }
              @media (max-width:380px) {
                font-size: 28px;
              }
             }
           
           }
           .respons-box-product-name-div2{
            display: flex;
            justify-content: center;
             .respons-box-product-name2{
               display: none;
              font-weight: 600;
              font-size: 42px;
              color: #ad8574;
              @media (max-width:950px) {
                display: inline;
                margin-bottom: 15px;
              }
              @media (max-width:800px) {
                font-size:37px;
            }
            @media (max-width:380px) {
                font-size: 28px;
              }
             }
           
           }

.unbothered-img-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    width: 50%;
    @media (max-width:950px) {
        margin: 0 auto;
        width: 65%;
    }
    @media (max-width:750px) {
        width: 80%;
    }
    @media (max-width:530px) {
        width:90%;
    }
    @media (max-width:480px) {
        width:100%;
    }
.unbothered-img{
width: 100%;
}
}


.unbothered-description{
 width: 50%;
 @media (max-width:950px) {
        margin: 0 auto;
        width: 65%;
}
@media (max-width:750px) {
    width: 80%;
}
@media (max-width:530px) {
    width:90%;
}
@media (max-width:480px) {
    width:100%;
}
.unbothered-product-name-div{
    margin-top: 20%;
    display: flex;
    justify-content: center;
    @media (max-width:950px) {
        margin-top: 20px;
    }
    .unbothered-product-name{
        font-weight: 600;
        font-size: 48px;
        color: #ad8574;
        @media (max-width:950px) {
            display: none;
        }
    }
    
}
.unbothered-product-name-div2{
    display: flex;
    justify-content: center;
    @media (max-width:950px) {
        margin-top: 20px;
    }
    .unbothered-product-name2{
        font-weight: 600;
        font-size: 48px;
        color: #ad8574;
        @media (max-width:950px) {
            display: none;
        }
    }
    
}

.unbothered-price-div{
    display: flex;
    justify-content: center;
    .unbothered-price{
        margin-top: 5%;
        font-weight: 600;
        color: $color-light-nude;
    }
}


.unbothered-button{
    display: flex;
  justify-content: center;
    .unbothered-buy-now{
        outline: none;
        margin-top: 2%;
        color: #fff;
        background-color: #c39885;
        line-height: normal;
        max-width: 100%;
        height: auto;
        line-height: 1;
        border-radius: 2px;
        padding: 0 .2em;
        border: 0;
        cursor: pointer;
        padding: 11px 40.7px;
    }
}
.unbothered-text-div{
    max-width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    @media (max-width:400px) {
        margin-top: 8%;
    }
    .unbothered-text{
        margin-top: 1%;
        font-weight: 600;
        line-height: 1.4;
        color: $color-light-nude;
    }
}
.unbothered-net-div{
    display: flex;
  justify-content: center;
    .unbothered-net{
        margin-top: 2.5%;
        font-weight: 600;
        color: $color-light-nude;
        @media (max-width:480px) {
            margin-top: 5%;
        }
    }
}
/* -- quantity box -- */
.quantity-box{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    .quantity-title{
        margin-right: 3%;
    }
    .quantity {
        display: inline-block; }
       
       .quantity .input-text.qty {
        width: 35px;
        height: 39px;
        padding: 0 5px;
        text-align: center;
        background-color: transparent;
        border: 1px solid #efefef;
       }
       
       .quantity.buttons_added {
        text-align: left;
        position: relative;
        white-space: nowrap;
        vertical-align: top; }
       
       .quantity.buttons_added input {
        display: inline-block;
        margin: 0;
        vertical-align: top;
        box-shadow: none;
       }
       
       .quantity.buttons_added .minus,
       .quantity.buttons_added .plus {
        padding: 7px 10px 8px;
        height: 41px;
        background-color: #ffffff;
        border: 1px solid #efefef;
        cursor:pointer;}
       
       .quantity.buttons_added .minus {
        border-right: 0; }
       
       .quantity.buttons_added .plus {
        border-left: 0; }
       
       .quantity.buttons_added .minus:hover,
       .quantity.buttons_added .plus:hover {
        background: #eeeeee; }
       
       .quantity input::-webkit-outer-spin-button,
       .quantity input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        margin: 0; }
        
        .quantity.buttons_added .minus:focus,
       .quantity.buttons_added .plus:focus {
        outline: none; }
       
    
  }

}













    }
}


.coming-soon-main{
    width: 100%;
    font-family: $open-sans-font;
    padding: 15px;
.coming-soon-title-div{
    display: flex;
    justify-content: center;
    align-content: center;

.coming-soon-title{
    font-weight: bold;
}
}
.coming-soon{
display: flex;
justify-content: center;
max-width: 1170px;
margin: 0 auto;
border-top: 2px solid;
margin-top: 10px;
@media (max-width:520px) {
    flex-wrap: wrap;
}
.blue-honey{
    width: 30%;
    margin-right: 120px;
    box-shadow: 5px 5px 5px 5px #7b777742;
    margin-top: 20px;
    padding-bottom: 10px;
    @media (max-width:755px) {
        width: 40%;
    }
    @media (max-width:585px) {
        width: 50%;
    }
    @media (max-width:520px) {
        width: 55%;
        margin: 0 auto;
    }
    @media (max-width:361px) {
        width: 70%;
    }
    .blue-honey-image{
        width: 75%;
        display: flex;
        margin: 0 auto;
        margin-bottom: 15px;
        margin-top: 10px;
    }
 .blue-honey-text-div{
     display: flex;
     justify-content: center;
     .blue-honey-text{
        font-weight: bold;
        &:hover{
            color: #97d6bc;
          }
     }
 }
}
.purple-pallete{
width: 30%;
box-shadow: 5px 5px 5px 5px #7b777742;
margin-top: 20px;
padding-bottom: 10px;
@media (max-width:755px) {
    width: 40%;
}
@media (max-width:585px) {
    width: 50%;
}
@media (max-width:520px) {
    width: 55%;
    margin: 0 auto;
    margin-top: 25px;
}
@media (max-width:361px) {
    width: 70%;
}
.purple-pallete-image{
    width: 100%; 
    display: flex;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 10px;
}
.purple-pallete-text-div{
    justify-content: center;
    display: flex;
    .purple-pallete-text{
        font-weight: bold;
        &:hover{
            color: $violet-color2;
        }
    }
}
}
}
}