//first div
.singles-main-page1{
    padding: 5px;
    margin-top:50px;
    @extend %selling-products-main-div;
    .singles-main-page1{
        @media (max-width:750px) {
            flex-wrap: wrap;
          }
        @extend %selling-products-div;


//first product
.dark-green{
  @media (max-width:750px) {
      width: 50%;
  }
  @media (max-width:590px) {
    width: 70%;
    margin: 0 auto;
}
.dark-green-img{
    max-width: 100%;

}

.dark-green-descript{
    .dark-green-description{
        @extend %product-description;
    }  
    .dark-green-product-name{
        @extend %product-name;
    }
    .dark-green-price{
        @extend %product-price;
    }
    .dark-green-button-div{
        @extend %display-flex;
        .dark-green-buy-now{
             @extend %buy-now-button;
            .dark-green-button-a{
                @extend %button-a;
            }
        }
    }
}
}

//second product
.yellow{
    @media (max-width:750px) {
        width: 50%;
    }
    @media (max-width:590px) {
        width: 70%;
        margin: 0 auto;
    }
.yellow-img{
    max-width: 100%;
}
.yellow-descript{
    .yellow-description{
        @extend %product-description;
    }
    .yellow-product-name{
        @extend %product-name;
    }
    .yellow-price{
        @extend %product-price;
    }
    .yellow-button-div{
        @extend %display-flex;
       
        .yellow-buy-now{
            @extend %buy-now-button;
            .yellow-button-a{
                @extend %button-a;
            }
        }
    }
}
}

//third product
.pink{
    @media (max-width:750px) {
        width: 50%;
        margin: 0 auto;
        margin-top: 50px;
    }
    @media (max-width:590px) {
        width: 70%;
        margin: 0 auto;
    }
    .pink-img{
        max-width: 100%;
       
    }

.pink-descript{
    .pink-description{
        @extend %product-description;
    }
    .pink-product-name{
        @extend %product-name;
    }
    .pink-price{
        @extend %product-price;
      
    }
    .pink-button-div{
        @extend %display-flex;
        .pink-buy-now{
            @extend %buy-now-button;
            .pink-button-a{
                @extend %button-a;
            }
        }
    }
}
}
//

    }
}





//second-div
.singles-main-page2{
    padding: 5px;
    margin-top: 50px;
    @extend %selling-products-main-div;
.singles-main2{
    @media (max-width:750px) {
        flex-wrap: wrap;
      }
    @extend %selling-products-div;

//first-product
.blue{
    @media (max-width:750px) {
        width: 50%;
    }
    @media (max-width:590px) {
        width: 70%;
        margin: 0 auto;
    }
 .blue-img{
    max-width: 100%;
 }
 .blue-descript{
.blue-description{
    @extend %product-description;
}
.blue-product-name{
    @extend %product-name;
}
.blue-price{
    @extend %product-price;
}
.blue-button-div{
    @extend %display-flex;
    .blue-buy-now{
        @extend %buy-now-button;
        .blue-button-a{
            @extend %button-a;
        }
    }
}
 }
}

//second product
.burgundy{
    @media (max-width:750px) {
        width: 50%;
    }
    @media (max-width:590px) {
        width: 70%;
        margin: 0 auto;
    }
.burgundy-img{
    max-width: 100%;
}
.burgundy-descript{
    .burgundy-description{
        @extend %product-description;
    }
    .burgundy-product-name{
        @extend %product-name;
    }
    .burgundy-price{
        @extend %product-price;
    }
    .burgundy-button-div{
        @extend %display-flex;
        .burgundy-buy-now{
            @extend %buy-now-button;
            .burgundy-button-a{
                @extend %button-a;
            }
        }
    }
}
}


//third product
.purple{
    @media (max-width:750px) {
        width: 50%;
        margin: 0 auto;
        margin-top: 50px;
    }
    @media (max-width:590px) {
        width: 70%;
        margin: 0 auto;
    }
.purple-img{
    max-width: 100%;
}
.purple-descript{
    .purple-description{
        @extend %product-description;
    }
    .purple-product-name{
        @extend %product-name;
    }
    .purple-price{
        @extend %product-price;
    }
    .purple-button-div{
        @extend %display-flex;
        .purple-buy-now{
            @extend %buy-now-button;
            .purple-button-a{
                @extend %button-a;
            }
        }
    }
}


}

}
}



//third div
.singles-main-page3{
    padding: 5px;
    margin-bottom: 50px;
    margin-top: 50px;
    @extend %selling-products-main-div;
.singles-main3{
    @media (max-width:750px) {
        flex-wrap: wrap;
      }
    @extend %selling-products-div;

//first product
.pink-gold{
    @media (max-width:750px) {
        width: 50%;
    
    }
    @media (max-width:590px) {
        width: 70%;
        margin: 0 auto;
    }
.pink-gold-img{
    max-width: 100%;
}
.pink-gold-descript{
    .pink-gold-description{
        @extend %product-description;
    }
    .pink-gold-product-name{
        @extend %product-name;
    }
.pink-gold-price{
    @extend %product-price;
}
.pink-gold-button-div{
    @extend %display-flex;
    .pink-gold-buy-now{
        @extend %buy-now-button;
        .pink-gold-button-a{
            @extend %button-a;
        }
    }
}
}
}

//second-product
.skyblue{
    @media (max-width:750px) {
        width: 50%;
    }
    @media (max-width:590px) {
        width: 70%;
        margin: 0 auto;
    }
.skyblue-img{
    max-width: 100%;
}

.skyblue-descript{
    .skyblue-description{
        @extend %product-description;
    }
    .skyblue-product-name{
        @extend %product-name;
    }
    .skyblue-price{
        @extend %product-price;
    }
    .skyblue-button-div{
        @extend %display-flex;
        .skyblue-buy-now{
            @extend %buy-now-button;
            .skyblue-button-a{
                @extend %button-a;
            }
        }
    }
}


}


//third product
.glittery-blue{
    @media (max-width:750px) {
        width: 50%;
        margin: 0 auto;
        margin-top: 50px;
    }
    @media (max-width:590px) {
        width: 70%;
    }
.glittery-blue-img{
    max-width: 100%;
}
.glittery-blue-descript{
    .glittery-blue-description{
        @extend %product-description;
    }
    .glittery-blue-product-name{
            @extend %product-name;
    }
    .glittery-blue-price{
        @extend %product-price;
    }
    .glittery-blue-button-div{
        @extend %display-flex;
        .glittery-blue-buy-now{
            @extend %buy-now-button;
            .glittery-blue-button-a{
                @extend %button-a;
            }
        }
    }
}


}
}
}



.singles-models-main{
    background-image: linear-gradient(#f7f7f7,#f1f0f0);
    width: 100%;
     font-family: $open-sans-font;
     margin-bottom: 80px;
     padding-bottom: 30px;
.title-div{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin-bottom: 30px;
    .title{
        font-weight: 550;
        font-size: 1.583rem;
        &:hover{
            color: $violet-color2;
            cursor: pointer;
        }
        @media (max-width:540px) {
            font-size: 21px;
        }
    }
}


    .singles-models{
        margin: 0 auto;
        width: 1170px;
        max-width: 100%;
        @media (max-width:800px) {
            flex-wrap: wrap;
        }

.model1{
    width: 20.2%;
    margin-left: 3%;
    @media (max-width:800px) {
        width: 31.5%;
        margin-left: 16%;
        margin-bottom: 1%;  
    }
    @media (max-width:540px) {
        width: 33.5%;
        margin-left: 13%;
        margin-bottom: 1%;
    }
    @media (max-width:480px) {
        width: 50%;
        margin: 0 auto;
        display: flex;
    
    }
}

.model2{
    width: 21.4%;
    margin-left: 3%;
    @media (max-width:800px) {
        width: 33.3%;
        margin-left: 3.5%;
        margin-bottom: 1%;
    }
    @media (max-width:540px) {
        width: 35.3%;
        margin-left: 3.5%;
        margin-bottom: 1%;
    }
    @media (max-width:480px) {
        width: 50%;
        margin: 0 auto;
        display: flex;
        margin-top: 25px;
    }
}


.model3{
    width: 20%;
    margin-left: 3%;
    @media (max-width:800px) {
        width: 33%;
        margin-left: 15%;
    }
    @media (max-width:540px) {
        width: 35%;
    margin-left: 12.3%;
    }
    @media (max-width:480px) {
        width: 50%;
        margin: 0 auto;
        display: flex;
        margin-top: 25px;
    }
}

.model4{
    width: 20%;
    margin-left: 3%;
    @media (max-width:800px) {
        width: 33.3%;
        margin-left: 3%;   
    }
    @media (max-width:540px) {
        width: 35.3%;
    margin-left: 3%;
    }
    @media (max-width:480px) {
        width: 50%;
        margin: 0 auto;
        display: flex;
        margin-top: 25px;
    }
}



    }
}