@import './basic/reset.scss';
@import './basic/fonts.scss';
@import './modules/variable.scss';
@import './modules/classes.scss';
@import './modules/mixins.scss';
@import './about.scss';
@import './collection.scss';
@import './liner.scss';
@import './contour.scss';
@import './highlights.scss';
@import './blushes.scss';
@import './primers.scss';
@import './singles.scss';
@import './glosses.scss';
@import './cream.scss';
@import './palletes.scss';
//header1

.header{
    display: flex;
    align-content: center;
    height: 70px;
    font-size: 17px;
    color: #ad8574;
    position: fixed;
    z-index: 99999;
    background-color: $color-00;
    width: 100%;
  
    .header-div{
        display: flex;
        align-content:center;
        justify-content: space-between;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    @media (max-width:600px) {
      padding-top: 6px;
      padding-bottom: 6px;
    }
    .header-logo{
        margin-left: 30px;
        width: 63%;
        max-width: 100%;
       @media (max-width:480px) {
        width: 50%;
       }
    
    }
    .header-ul-div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 65%;;
@media (max-width:1030px) {
  width: 80%;
}
@media (max-width:480px) {
  display: none;
}
    .header-ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-family: $open-sans-font;
        .collections-header-li-a{
          color: $color-light-nude;
          text-decoration: none;
          @media (max-width:830px) {
            display: none;}
            &:hover {
              color: $dark-warm-pink;
              cursor: pointer;
            }
        }
        .best-sellers-header-li-a{
          color: $color-light-nude;
          text-decoration: none;
          @media (max-width:830px) {
            display: none;}
            &:hover {
              color: $dark-warm-pink;
              cursor: pointer;
            }
        }
        .header-li{
          &:hover {
            color: $dark-warm-pink;
            cursor: pointer;
          }
        }
        .style-a{
            color: $color-light-nude;
            font-family: $open-sans-font;
        }
        .collections-header-li{
         
@media (max-width:830px) {
  display: none;}
  &:hover {
    color: $dark-warm-pink;
    cursor: pointer;
  }

}
        }
        .best-sellers-header-li{
          @media (max-width:830px) {
            display: none;
          }
          &:hover {
            color: $dark-warm-pink;
            cursor: pointer;
          }
        }
        .header-li-none{
          display: none;
@media (max-width:830px) {
  display: block;
}
        }
    }

    .responsive-header{
      display: flex;
      align-content: center;
      display: none;
      @media (max-width:480px) {
        display: flex;
        align-items: center;
       //responsive after 480px
        .responsive-header-li{
          display: flex;
          align-content: center;
          .h5{
            border-bottom: 1px solid #e9ecef;
            margin-left: 5px;
            color: #85565e;
            font-size: 16px;
          }
          .h51{
            border-bottom: 1px solid #e9ecef;
            margin-left: 5px;
            color: #85565e;
           }
           .h52{
            border-bottom: 1px solid #e9ecef;
            border-top: 1px solid #e9ecef;
            margin-left: 5px;
            color: #85565e;
           }
           .h53{
            border-top: 1px solid #e9ecef;
            border-bottom: 1px solid #e9ecef;
            margin-left: 5px;
            color: #85565e;
           }
          .responsive-header-a{
         
            color: #ad8574;
            font-family: $open-sans-font;
            &:hover {
              color: $dark-warm-pink;
              cursor: pointer;
            }
           
           
        }
       
        }
      }
    }
    }
    }


//main-image
.main-image-div{
  position: relative;
  background: #f8e0d6;
  width: 100%;
  font-family: $open-sans-font;
  .main-image1{
    width: 50%;
    margin-left: 0.5%;
    @media (max-width:943px) {
      width: 65%;
      display: flex;
      margin: 0 auto;
    }
    @media (max-width:840px) {
      width: 85%;
    }
  }
  .main-image2{
    width: 49%;
    @media (max-width:943px) {
      width: 65%;
      display: flex;
      margin: 0 auto;
    }
    @media (max-width:840px) {
      width: 85%;
    }
  }
  .main-title{
    position: absolute;
    color: #fff;
    font-size: 55px;
    bottom: 4%;
    left: 3%;
    cursor: pointer;
    text-shadow: 2px 2px #b07a66;
    &:hover{
      text-shadow: 2px 2px #85565e;
    }
    @media (max-width:1665px) {
      font-size:50px ;
    
    }
    @media (max-width:1200px) {
      font-size: 48px;
     
    }
    @media (max-width:943px) {
      top: 45%;
      left: 19%;
    }
    @media (max-width:840px) {
      top: 45%;
      left: 11%;
    }
    @media (max-width:700px)  {
      font-size:45px ;
    }
    @media (max-width:560px)  {
      font-size:40px ;
    }
  }
   }



//contour-div
   .selling-products-main-div{
  @extend %selling-products-main-div;
  .selling-products-div{
    @extend %selling-products-div;
    @media (max-width:815px) {
      flex-wrap: wrap;
    }
    //first product
    .contour1descript{
      @media (max-width:815px) {
        width: 50%;
      }
      @media (max-width:630px) {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 30px;
      }
       .contour1-img{
        max-width: 100%;
       } 
       .contour1-description{
        @extend %product-description;
      
       }
       .contour1-name{
           @extend %product-name;
       }
       .product-price{
           @extend %product-price;
       }
       .button-div{
           @extend %display-flex;
           .buy-now-button{
           @extend %buy-now-button;
           .button-a1{
             @extend %button-a;
           }
          }
       }
       
    }
        //second product
  .contour2{
    @media (max-width:815px) {
      width: 50%;
    }
    @media (max-width:630px) {
      width: 60%;
      margin: 0 auto;
      margin-bottom: 30px;
    }
      .contour2-img{
        max-width: 100%;
      }
      .contour2-descript{
          .contour2-description{
            @extend %product-description;
          }
          .contour2-name{
            @extend %product-name;
          }
          .product-price{
            @extend %product-price;
          }
          .button-div{
            @extend %display-flex;
             .buy-now-button{
                @extend %buy-now-button;
                .button-a2{
                  @extend %button-a;
                }
             }
          }
      }
  }
//third product
.contour-bundle{
  @media (max-width:815px) {
    width: 50%;
    margin: 45px auto;
    margin-bottom: 0;
  }
  @media (max-width:630px) {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .contour-bundle-img{
    max-width: 100%;
  }
  .contour-bundle-descript{
    margin-top: 15px;
    .contour-bundle-description{
        @extend %product-description;
    }
    .contour-bundle-name{
        @extend %product-name;
    }
    .product-price{
      @extend %product-price;
    }
    .buy-now-button{
        @extend %display-flex;
    .contour-button{
        @extend %buy-now-button;
        .button-a3{
          @extend %button-a;
        }
    }
    }
  }
}


  }
   }



   //second-div
   .selling-products-main-div2{
    @extend %selling-products-main-div;
    margin-top: 50px;
    
    .selling-products-div2{
      @extend %selling-products-div;
      @media (max-width:815px) {
        flex-wrap: wrap;
      }

      //first-product
  .pink-gloss{
    @media (max-width:815px) {
      width: 50%;
    }
    @media (max-width:630px) {
      width: 60%;
      margin: 0 auto;
      margin-bottom: 30px;
    }
    .pink-gloss-img{
      max-width: 100%;
    }
    .pink-gloss-descript{
      margin-top: 15px;
      .pink-gloss-description{
        @extend %product-description;
      }
      .pink-gloss-name{
        @extend %product-name;
      }
      .pink-gloss-price{
        @extend %product-price;
      }
      .pink-gloss-button-div{
        @extend %display-flex;
.pink-gloss-button{
  @extend %buy-now-button;
  .pink-lipgloss-button-a{
    @extend %button-a;
  }
}
      }

    }

  }

//second product
.vannila{
  @media (max-width:815px) {
    width: 50%;
   
  }
  @media (max-width:630px) {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  max-width: 781px;
  .vannila-img{
    max-width: 78%;
    display: flex;
    margin: 0 auto;
    @media (max-width:815px) {
      max-width: 91%;
    }

@media (max-width:670px) {
  max-width: 85%;
    display: flex;
    margin: 0 auto;
}
  }
  .vannila-descript{
    margin-top: 15px;
    @media (max-width: 815px){
    margin-top: 45px;
}
@media (max-width: 671px){
  margin-top: 75px;
}
    .vannila-description{
      @extend %product-description;
    }
    .vannila-name{
      @extend %product-name;
    }
    .vannila-price{
      @extend %product-price;
    }
    .vannila-button-div{
      @extend %display-flex;
      .vannila-button{
        @extend %buy-now-button;
        .vannilaa-button-a{
          @extend %button-a;
        }
      }
    }
  }
}

//third product
.cherry-cola{
  @media (max-width:815px) {
    width: 50%;
    margin: 30px auto;
  }
  @media (max-width:630px) {
    width: 60%;
    margin: 0 auto;
  
  }
.cherry-cola-img{
  max-width: 100%;
  @media (max-width:815px) {
    max-width: 70%;
    margin-left: 67px;
  }
}
.cherry-cola-descript{
  margin-top: 28%;
  @media (max-width:815px) {
   margin-top: 0;
  }
  .cherry-cola-description{
    @extend %product-description;
  }
  .cherry-cola-name{
    @extend %product-name;
  }
  .cherry-cola-price{
    @extend %product-price;
  }
  .cherry-cola-button-div{
    @extend %display-flex;
    .cherry-cola-button{
      @extend %buy-now-button;
      .cherry-cola-button-a{
        @extend %button-a;
      }
    }
  }
}
}
    }
   }



   //third div
   .selling-products-main-div3{
    @extend %selling-products-main-div;
    width: 100%;
    margin-top: 50px;
    background-color: #ede4e0;
    padding-top: 35px;
    padding-bottom: 30px;
    margin-top: 60px;
    margin-top: 60px;
    font-family: $open-sans-font;
    .back-in-stock-div{
      @extend%display-flex;
      margin-bottom: 10px;
      .back-in-stock{
        font-size: $font-size-40px;
        color: $color-dark-nude;
       
       }
    }
     .selling-products-div2{
      @extend %selling-products-div;
      @media (max-width:815px) {
        flex-wrap: wrap;
      }

//first product
.pink-shadow{
  @media (max-width:815px) {
    width: 50%;
  }
  @media (max-width:630px) {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .pink-shadow-img{
    max-width: 74%;
    margin-left: 50px;
  }
  .pink-shadow-descript{
    margin-top: 15px;
    .pink-shadow-description{
      @extend %product-description;
    }
    .pink-shadow-name{
      @extend %product-name;
    }
    .pink-shadow-price{
      @extend %product-price;
    }
    .pink-shadow-button-div{
      @extend %display-flex;
      .pink-shadow-button{
        @extend %buy-now-button;
        .pink-shadow-button-a{
          @extend %button-a;
        }
      }
    }
  }
}
//second-product
.glittery-skyblue-shadow{
  @media (max-width:815px) {
    width: 50%;  
  }
  @media (max-width:630px) {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
.glittery-skyblue-shadow-img{
  max-width: 74%;
  margin-left: 50px;
}
.glittery-skyblue-shadow-descript{
  margin-top: 15px;
.glittery-skyblue-shadow-description{
  @extend %product-description;
}
.glittery-skyblue-shadow-name{
  @extend %product-name;
}
.glittery-skyblue-shadow-price{
  @extend %product-price;
}
.glittery-skyblue-shadow-button-div{
  @extend %display-flex;
}
.glittery-skyblue-shadow-button{
  @extend %buy-now-button;
  .glittery-skyblue-shadow-button-a{
    @extend %button-a;
  }
}
}
}

//THITD-PRODUCT

.pink-gold{
  @media (max-width:815px) {
    width: 50%;
    margin: 35px auto;
    margin-bottom: 0;; }
  @media (max-width:630px) {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .pink-gold-img{
    max-width: 74%;
  margin-left: 50px;
  }
  .pink-gold-descript{
    margin-top: 15px;
    .pink-gold-description{
      @extend %product-description;
    }
    .pink-gold-name{
      @extend %product-name;
    }
    .pink-gold-price{
      @extend %product-price;
    }
    .pink-gold-button-div{
      @extend %display-flex;
      .pink-gold-button{
        @extend %buy-now-button;
        .pink-gold-button-a{
          @extend %button-a;
        }
      }
    }
  }
}
     }
   }



    //FOOTER
    .footer{
      margin-top: 50px;
//section-form
.section-form{
  font-family: $open-sans-font;
  max-width: 1170px;
  margin: 0 auto;
  .footer-section-title{
    font-size: 60px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    color: $dark-brown;
    @media (max-width:580px) {
      font-size: 52px;
    }
  }
  .footer-section-text{
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin: 10px 0 30px;
    @media (max-width:565px) {
      margin: 16px 0 30px;
    }
  }

  .form-div{
    .input-emailaddress{
      box-shadow: 0px 12px 51px 0 rgba(30,30,30,0.05);
      border: none;
    padding: 15px 10px 20px;
    border-bottom: 2px solid rgba(30,30,30,0.2);
    font-size: 24px;
    margin-bottom: 20px;
    text-indent: 17px;
    display: flex;
    margin: 0 auto;
    width: 45%;
    @media (max-width:655px) {
      width: 50%;
    }
    @media (max-width:595px) {
      width: 60%;
    }
    }
    .button-sign-up-div{
      display: flex;
    justify-content: center;
    padding: 30px;

      .button-sign-up{
        .sign-in{
          color: #fff;
        }
        &:hover{
          box-shadow: 0px 10px 30px 0 rgba(109, 101, 101, 0.6);
         cursor: pointer;
      }
      transition: 0.3s;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        display: flex;
        width: 18%;
        padding: 20px 0 16px;
        transition: all 0.15s;
      border-radius: 4px;
      letter-spacing: 0.5px;
      border: 2px solid 1 $dark-brown;
      background-color: $dark-brown;
      }
    }
     }
  }
 
  //footer-div
  .footer-div{
    display: flex;
    justify-content: center;
    background-color: $dark-brown;
    padding: 3px 0;
    .footer-logo{
      width: 100px;
      max-width: 100%;
      margin-left: 30px;
    margin: 0 50px;
    @media (max-width:800px) {
      width: 12%;
      height: 66px;
    }
    @media  (max-width:750px) {
      margin: 0 42px 0 0;
    }
    @media (max-width:680px) {
      width: 14%;
    }
    @media (max-width:530px) {
      margin: 0 28px 0 0;
    }
   
    }
    .footer-li-div{
      display: flex;
    width: 55%;
    justify-content: space-between;
    align-items: center;
    color:#fff;
    font-size: 16px;
    font-family: $open-sans-font;
    @media  (max-width:750px) {
      width: 73%;
    }
    }
  }










}












    