@import './basic/reset.scss';
@import './basic/fonts.scss';
@import './modules/variable.scss';
@import './modules/classes.scss';
@import './modules/mixins.scss';
//header1
.header{
    display: flex;
    align-content: center;
    height: 70px;
    font-size: 17px;
    color: #ad8574;
    position: fixed;
    z-index: 99999;
    background-color: $color-00;
    width: 100%;
    @media (max-width: 1310px) {
       display: none;
    }
    .header-div{
        display: flex;
        align-content:center;
        justify-content: space-between;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    .header-logo{
        margin-left: 30px;
        width: 100px;
        max-width: 100%;
    }
    .header-ul-div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 65%;;
    .header-ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-family: $open-sans-font;
        .style-a{
            color: $color-light-nude;
            font-family: $open-sans-font;
        }
    }
    }
    }
}

//main-image
.main-image-div{
    .main-image{
           width: 100%;
           margin-top: 70px;
       }
   }



//contour-div
   .selling-products-main-div{
  @extend %selling-products-main-div;
  .selling-products-div{
    @extend %selling-products-div;
    //first product
    .contour1descript{
       .contour1-img{
        max-width: 100%;
       } 
       .contour1-description{
        @extend %product-description;
       }
       .contour1-name{
           @extend %product-name;
       }
       .product-price{
           @extend %product-price;
       }
       .button-div{
           @extend %display-flex;
           .buy-now-button{
           @extend %buy-now-button;
          }
       }
       
    }
        //second product
  .contour2{
      .contour2-img{
        max-width: 100%;
      }
      .contour2-descript{
          .contour2-description{
            @extend %product-description;
          }
          .contour2-name{
            @extend %product-name;
          }
          .product-price{
            @extend %product-price;
          }
          .button-div{
            @extend %display-flex;
             .buy-now-button{
                @extend %buy-now-button;
             }
          }
      }
  }
//third product
.contour-bundle{
  .contour-bundle-img{
    max-width: 100%;
  }
  .contour-bundle-descript{
    margin-top: 15px;
    .contour-bundle-description{
        @extend %product-description;
    }
    .contour-bundle-name{
        @extend %product-name;
    }
    .product-price{
      @extend %product-price;
    }
    .buy-now-button{
        @extend %display-flex;
    .contour-button{
        @extend %buy-now-button;
    }
    }
  }
}


  }
   }



   //second-div
   .selling-products-main-div2{
    @extend %selling-products-main-div;
    margin-top: 50px;
    
    .selling-products-div2{
      @extend %selling-products-div;


      //first-product
  .pink-gloss{
    .pink-gloss-img{
      max-width: 100%;
    }
    .pink-gloss-descript{
      margin-top: 15px;
      .pink-gloss-description{
        @extend %product-description;
      }
      .pink-gloss-name{
        @extend %product-name;
      }
      .pink-gloss-price{
        @extend %product-price;
      }
      .pink-gloss-button-div{
        @extend %display-flex;
.pink-gloss-button{
  @extend %buy-now-button;
}
      }

    }

  }

//second product
.vannila{
  max-width: 781px;
  .vannila-img{
    max-width: 77%;
    margin-left: 51px;
  }
  .vannila-descript{
    margin-top: 15px;
    .vannila-description{
      @extend %product-description;
    }
    .vannila-name{
      @extend %product-name;
    }
    .vannila-price{
      @extend %product-price;
    }
    .vannila-button-div{
      @extend %display-flex;
      .vannila-button{
        @extend %buy-now-button;
      }
    }
  }
}

//third product
.cherry-cola{
.cherry-cola-img{
  max-width: 115%;
}
.cherry-cola-descript{
  margin-top: 15px;
  .cherry-cola-description{
    @extend %product-description;
  }
  .cherry-cola-name{
    @extend %product-name;
  }
  .cherry-cola-price{
    @extend %product-price;
  }
  .cherry-cola-button-div{
    @extend %display-flex;
    .cherry-cola-button{
      @extend %buy-now-button;
    }
  }
}
}
    }
   }



   //third div
   .selling-products-main-div3{
    @extend %selling-products-main-div;
    width: 100%;
    margin-top: 50px;
    background-color: #ede4e0;
    padding-top: 35px;
    padding-bottom: 30px;
    margin-top: 60px;
    margin-top: 60px;
    font-family: $open-sans-font;
     .back-in-stock{
      font-size: $font-size-40px;
      margin-left: 669px;
      margin-bottom: 10px;
      margin-top: 10px;
      color: $color-dark-nude;
     }
     .selling-products-div2{
      @extend %selling-products-div;

//first product
.pink-shadow{
  .pink-shadow-img{
    max-width: 74%;
    margin-left: 50px;
  }
  .pink-shadow-descript{
    margin-top: 15px;
    .pink-shadow-description{
      @extend %product-description;
    }
    .pink-shadow-name{
      @extend %product-name;
    }
    .pink-shadow-price{
      @extend %product-price;
    }
    .pink-shadow-button-div{
      @extend %display-flex;
      .pink-shadow-button{
        @extend %buy-now-button;
      }
    }
  }
}
//second-product
.glittery-skyblue-shadow{
.glittery-skyblue-shadow-img{
  max-width: 74%;
  margin-left: 50px;
}
.glittery-skyblue-shadow-descript{
  margin-top: 15px;
.glittery-skyblue-shadow-description{
  @extend %product-description;
}
.glittery-skyblue-shadow-name{
  @extend %product-name;
}
.glittery-skyblue-shadow-price{
  @extend %product-price;
}
.glittery-skyblue-shadow-button-div{
  @extend %display-flex;
}
.glittery-skyblue-shadow-button{
  @extend %buy-now-button;
}
}
}

//THITD-PRODUCT

.pink-gold{
  .pink-gold-img{
    max-width: 74%;
  margin-left: 50px;
  }
  .pink-gold-descript{
    margin-top: 15px;
    .pink-gold-description{
      @extend %product-description;
    }
    .pink-gold-name{
      @extend %product-name;
    }
    .pink-gold-price{
      @extend %product-price;
    }
    .pink-gold-button-div{
      @extend %display-flex;
      .pink-gold-button{
        @extend %buy-now-button;
      }
    }
  }
}
















     }
    }