//selling product boxes
%selling-products-main-div{
    width: 100%;
}
%selling-products-div{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    color:$color-dark-nude;
    font-family:$open-sans-font;
}
%product-description{
    display: flex;
        justify-content: center;
        font-size: $font-size-25px;
}
%product-name{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
%buy-now-button{
    &:hover{
        box-shadow: 0px 10px 30px 0 rgba(109, 101, 101, 0.6);
       cursor: pointer;
       width: 175px;
       height: 45px;
    }
    transition: 0.3s;
    opacity: 0.6px;
    width: 170px;
    height: 40px;
    font-size: $font-size-20px;
    background-color: $dark-warm-pink;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    
}
%button-a{
    text-decoration: none;
    color: black;
}
%product-price{
    margin-top: 5px;
    font-size: 17px;
    display: flex;
    justify-content: center;
}


//random
%display-flex{
    display: flex;
    justify-content: center;
    align-content: center;
}
