//colors
$color-00: #fff;
$color-dark-nude:#835f50;
$color-lighter-nude:#e0ccc3;
$color-light-nude:#ad8574;
$dark-warm-pink:#da838a;
$dark-brown:#4c3a3a;

//font-families
$open-sans-font:'Open Sans Condensed', sans-serif;

//font-sizes
$font-size-40px:40px;
$font-size-25px:25px;
$font-size-20px:20px;
$font-size-18px:18px;
$font-size-17px:17px;