/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.best-seller-div, .collection-main-div, .liner-main-div, .highlight-main-page, .blushes-main-page, .selling-products-main-div, .selling-products-main-div2, .selling-products-main-div3 {
  width: 100%; }

.best-seller-div .best-seller, .collection-main-div .collection, .highlight-main-page .highlight-page, .blushes-main-page .blushes-main, .selling-products-main-div .selling-products-div, .selling-products-main-div2 .selling-products-div2, .selling-products-main-div3 .selling-products-div2 {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #835f50;
  font-family: "Open Sans Condensed", sans-serif; }

.best-seller-div .best-seller .pink-gold-shadow2 .pink-gold-shadow-descript2 .pink-gold-shadow-description2, .best-seller-div .best-seller .burgundy-shadow .burgundy-shadow-descript .burgundy-shadow-description, .best-seller-div .best-seller .peach-blush .peach-blush-descript .peach-blush-description, .collection-main-div .collection .eyeshadows .eyeshadows-descript .eyeshadows-description, .collection-main-div .collection .lipsticks .lipsticks-descript .lipsticks-description, .collection-main-div .collection .contours .contours-descript .contours-description, .highlight-main-page .highlight-page .highlight1 .highlight1-descript .highlight1-description, .highlight-main-page .highlight-page .highlight2 .highlight2-descript .highlight2-description, .highlight-main-page .highlight-page .highlight3 .highlight3-descript .highlight3-description, .blushes-main-page .blushes-main .peach-blush .peach-blush-descript .peach-blush-description, .blushes-main-page .blushes-main .pink-blush .pink-blush-descript .pink-blush-description, .blushes-main-page .blushes-main .red-blush .red-blush-descript .red-blush-description, .primers-main-page .primers-main .eye-primer .eye-primer-descript .eye-primer-description, .primers-main-page .primers-main .face-primer .face-primer-descript .face-primer-description, .selling-products-main-div .selling-products-div .contour1descript .contour1-description, .selling-products-main-div .selling-products-div .contour2 .contour2-descript .contour2-description, .selling-products-main-div .selling-products-div .contour-bundle .contour-bundle-descript .contour-bundle-description, .selling-products-main-div2 .selling-products-div2 .pink-gloss .pink-gloss-descript .pink-gloss-description, .selling-products-main-div2 .selling-products-div2 .vannila .vannila-descript .vannila-description, .selling-products-main-div2 .selling-products-div2 .cherry-cola .cherry-cola-descript .cherry-cola-description, .selling-products-main-div3 .selling-products-div2 .pink-shadow .pink-shadow-descript .pink-shadow-description, .selling-products-main-div3 .selling-products-div2 .glittery-skyblue-shadow .glittery-skyblue-shadow-descript .glittery-skyblue-shadow-description, .selling-products-main-div3 .selling-products-div2 .pink-gold .pink-gold-descript .pink-gold-description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 25px; }

.best-seller-div .best-seller .pink-gold-shadow2 .pink-gold-shadow-descript2 .pink-gold-shadow-product-name2, .best-seller-div .best-seller .burgundy-shadow .burgundy-shadow-descript .burgundy-shadow-product-name, .best-seller-div .best-seller .peach-blush .peach-blush-descript .peach-blush-product-name, .collection-main-div .collection .eyeshadows .eyeshadows-descript .eyeshadows-product-name, .collection-main-div .collection .lipsticks .lipsticks-descript .lipsticks-product-name, .collection-main-div .collection .contours .contours-descript .contours-product-name, .highlight-main-page .highlight-page .highlight1 .highlight1-descript .highlight1-product-name, .highlight-main-page .highlight-page .highlight2 .highlight2-descript .highlight2-product-name, .highlight-main-page .highlight-page .highlight3 .highlight3-descript .highlight3-product-name, .blushes-main-page .blushes-main .peach-blush .peach-blush-descript .peach-blush-product-name, .blushes-main-page .blushes-main .pink-blush .pink-blush-descript .pink-blush-product-name, .blushes-main-page .blushes-main .red-blush .red-blush-descript .red-blush-product-name, .primers-main-page .primers-main .eye-primer .eye-primer-descript .eye-primer-product-name, .primers-main-page .primers-main .face-primer .face-primer-descript .face-primer-product-name, .selling-products-main-div .selling-products-div .contour1descript .contour1-name, .selling-products-main-div .selling-products-div .contour2 .contour2-descript .contour2-name, .selling-products-main-div .selling-products-div .contour-bundle .contour-bundle-descript .contour-bundle-name, .selling-products-main-div2 .selling-products-div2 .pink-gloss .pink-gloss-descript .pink-gloss-name, .selling-products-main-div2 .selling-products-div2 .vannila .vannila-descript .vannila-name, .selling-products-main-div2 .selling-products-div2 .cherry-cola .cherry-cola-descript .cherry-cola-name, .selling-products-main-div3 .selling-products-div2 .pink-shadow .pink-shadow-descript .pink-shadow-name, .selling-products-main-div3 .selling-products-div2 .glittery-skyblue-shadow .glittery-skyblue-shadow-descript .glittery-skyblue-shadow-name, .selling-products-main-div3 .selling-products-div2 .pink-gold .pink-gold-descript .pink-gold-name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 10px; }

.best-seller-div .best-seller .pink-gold-shadow2 .pink-gold-shadow-descript2 .pink-gold-shadow-button2 .pink-gold-shadow-buy-now, .best-seller-div .best-seller .burgundy-shadow .burgundy-shadow-descript .burgundy-shadow-button .burgundy-shadow-buy-now, .best-seller-div .best-seller .peach-blush .peach-blush-descript .peach-blush-button .peach-blush-buy-now, .collection-main-div .collection .eyeshadows .eyeshadows-descript .eyeshadows-button .eyeshadows-buy-now, .collection-main-div .collection .lipsticks .lipsticks-descript .lipsticks-button .lipsticks-buy-now, .collection-main-div .collection .contours .contours-descript .contours-button .contours-buy-now, .highlight-main-page .highlight-page .highlight1 .highlight1-descript .highlight1-button .highlight1-buy-now, .highlight-main-page .highlight-page .highlight2 .highlight2-descript .highlight2-button .highlight2-buy-now, .highlight-main-page .highlight-page .highlight3 .highlight3-descript .highlight3-button .highlight3-buy-now, .blushes-main-page .blushes-main .peach-blush .peach-blush-descript .peach-blush-button .peach-blush-buy-now, .blushes-main-page .blushes-main .pink-blush .pink-blush-descript .pink-blush-button .pink-blush-buy-now, .blushes-main-page .blushes-main .red-blush .red-blush-descript .red-blush-button .red-blush-buy-now, .primers-main-page .primers-main .eye-primer .eye-primer-descript .eye-primer-button-div .eye-primer-buy-now, .primers-main-page .primers-main .face-primer .face-primer-descript .face-primer-button-div .face-primer-buy-now, .selling-products-main-div .selling-products-div .contour1descript .button-div .buy-now-button, .selling-products-main-div .selling-products-div .contour2 .contour2-descript .button-div .buy-now-button, .selling-products-main-div .selling-products-div .contour-bundle .contour-bundle-descript .buy-now-button .contour-button, .selling-products-main-div2 .selling-products-div2 .pink-gloss .pink-gloss-descript .pink-gloss-button-div .pink-gloss-button, .selling-products-main-div2 .selling-products-div2 .vannila .vannila-descript .vannila-button-div .vannila-button, .selling-products-main-div2 .selling-products-div2 .cherry-cola .cherry-cola-descript .cherry-cola-button-div .cherry-cola-button, .selling-products-main-div3 .selling-products-div2 .pink-shadow .pink-shadow-descript .pink-shadow-button-div .pink-shadow-button, .selling-products-main-div3 .selling-products-div2 .glittery-skyblue-shadow .glittery-skyblue-shadow-descript .glittery-skyblue-shadow-button, .selling-products-main-div3 .selling-products-div2 .pink-gold .pink-gold-descript .pink-gold-button-div .pink-gold-button {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.6px;
  width: 170px;
  height: 40px;
  font-size: 20px;
  background-color: #da838a;
  border: none;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-top: 10px; }
  .best-seller-div .best-seller .pink-gold-shadow2 .pink-gold-shadow-descript2 .pink-gold-shadow-button2 .pink-gold-shadow-buy-now:hover, .best-seller-div .best-seller .burgundy-shadow .burgundy-shadow-descript .burgundy-shadow-button .burgundy-shadow-buy-now:hover, .best-seller-div .best-seller .peach-blush .peach-blush-descript .peach-blush-button .peach-blush-buy-now:hover, .collection-main-div .collection .eyeshadows .eyeshadows-descript .eyeshadows-button .eyeshadows-buy-now:hover, .collection-main-div .collection .lipsticks .lipsticks-descript .lipsticks-button .lipsticks-buy-now:hover, .collection-main-div .collection .contours .contours-descript .contours-button .contours-buy-now:hover, .highlight-main-page .highlight-page .highlight1 .highlight1-descript .highlight1-button .highlight1-buy-now:hover, .highlight-main-page .highlight-page .highlight2 .highlight2-descript .highlight2-button .highlight2-buy-now:hover, .highlight-main-page .highlight-page .highlight3 .highlight3-descript .highlight3-button .highlight3-buy-now:hover, .blushes-main-page .blushes-main .peach-blush .peach-blush-descript .peach-blush-button .peach-blush-buy-now:hover, .blushes-main-page .blushes-main .pink-blush .pink-blush-descript .pink-blush-button .pink-blush-buy-now:hover, .blushes-main-page .blushes-main .red-blush .red-blush-descript .red-blush-button .red-blush-buy-now:hover, .primers-main-page .primers-main .eye-primer .eye-primer-descript .eye-primer-button-div .eye-primer-buy-now:hover, .primers-main-page .primers-main .face-primer .face-primer-descript .face-primer-button-div .face-primer-buy-now:hover, .selling-products-main-div .selling-products-div .contour1descript .button-div .buy-now-button:hover, .selling-products-main-div .selling-products-div .contour2 .contour2-descript .button-div .buy-now-button:hover, .selling-products-main-div .selling-products-div .contour-bundle .contour-bundle-descript .buy-now-button .contour-button:hover, .selling-products-main-div2 .selling-products-div2 .pink-gloss .pink-gloss-descript .pink-gloss-button-div .pink-gloss-button:hover, .selling-products-main-div2 .selling-products-div2 .vannila .vannila-descript .vannila-button-div .vannila-button:hover, .selling-products-main-div2 .selling-products-div2 .cherry-cola .cherry-cola-descript .cherry-cola-button-div .cherry-cola-button:hover, .selling-products-main-div3 .selling-products-div2 .pink-shadow .pink-shadow-descript .pink-shadow-button-div .pink-shadow-button:hover, .selling-products-main-div3 .selling-products-div2 .glittery-skyblue-shadow .glittery-skyblue-shadow-descript .glittery-skyblue-shadow-button:hover, .selling-products-main-div3 .selling-products-div2 .pink-gold .pink-gold-descript .pink-gold-button-div .pink-gold-button:hover {
    -webkit-box-shadow: 0px 10px 30px 0 rgba(109, 101, 101, 0.6);
    box-shadow: 0px 10px 30px 0 rgba(109, 101, 101, 0.6);
    cursor: pointer;
    width: 175px;
    height: 45px; }

.highlight-main-page .highlight-page .highlight1 .highlight1-descript .highlight1-button .highlight1-buy-now .highlight1-button-a, .highlight-main-page .highlight-page .highlight2 .highlight2-descript .highlight2-button .highlight2-buy-now .highlight2-button-a, .highlight-main-page .highlight-page .highlight3 .highlight3-descript .highlight3-button .highlight3-buy-now .highlight3-button-a, .blushes-main-page .blushes-main .peach-blush .peach-blush-descript .peach-blush-button .peach-blush-buy-now .peach-blush-button-a, .blushes-main-page .blushes-main .pink-blush .pink-blush-descript .pink-blush-button .pink-blush-buy-now .pink-blush-button-a, .blushes-main-page .blushes-main .red-blush .red-blush-descript .red-blush-button .red-blush-buy-now .red-blush-button-a, .primers-main-page .primers-main .eye-primer .eye-primer-descript .eye-primer-button-div .eye-primer-buy-now .eye-primer-button-a, .primers-main-page .primers-main .face-primer .face-primer-descript .face-primer-button-div .face-primer-buy-now .face-primer-button-a, .selling-products-main-div .selling-products-div .contour1descript .button-div .buy-now-button .button-a1, .selling-products-main-div .selling-products-div .contour2 .contour2-descript .button-div .buy-now-button .button-a2, .selling-products-main-div .selling-products-div .contour-bundle .contour-bundle-descript .buy-now-button .contour-button .button-a3 {
  text-decoration: none;
  color: black; }

.best-seller-div .best-seller .pink-gold-shadow2 .pink-gold-shadow-descript2 .pink-gold-shadow-price2, .best-seller-div .best-seller .burgundy-shadow .burgundy-shadow-descript .burgundy-shadow-price, .best-seller-div .best-seller .peach-blush .peach-blush-descript .peach-blush-price, .collection-main-div .collection .eyeshadows .eyeshadows-descript .eyeshadows-price, .collection-main-div .collection .lipsticks .lipsticks-descript .lipsticks-price, .collection-main-div .collection .contours .contours-descript .contours-price, .highlight-main-page .highlight-page .highlight1 .highlight1-descript .highlight1-price, .highlight-main-page .highlight-page .highlight2 .highlight2-descript .highlight2-price, .highlight-main-page .highlight-page .highlight3 .highlight3-descript .highlight3-price, .blushes-main-page .blushes-main .peach-blush .peach-blush-descript .peach-blush-price, .blushes-main-page .blushes-main .pink-blush .pink-blush-descript .pink-blush-price, .blushes-main-page .blushes-main .red-blush .red-blush-descript .red-blush-price, .primers-main-page .primers-main .eye-primer .eye-primer-descript .eye-primer-price, .primers-main-page .primers-main .face-primer .face-primer-descript .face-primer-price, .selling-products-main-div .selling-products-div .contour1descript .product-price, .selling-products-main-div .selling-products-div .contour2 .contour2-descript .product-price, .selling-products-main-div .selling-products-div .contour-bundle .contour-bundle-descript .product-price, .selling-products-main-div2 .selling-products-div2 .pink-gloss .pink-gloss-descript .pink-gloss-price, .selling-products-main-div2 .selling-products-div2 .vannila .vannila-descript .vannila-price, .selling-products-main-div2 .selling-products-div2 .cherry-cola .cherry-cola-descript .cherry-cola-price, .selling-products-main-div3 .selling-products-div2 .pink-shadow .pink-shadow-descript .pink-shadow-price, .selling-products-main-div3 .selling-products-div2 .glittery-skyblue-shadow .glittery-skyblue-shadow-descript .glittery-skyblue-shadow-price, .selling-products-main-div3 .selling-products-div2 .pink-gold .pink-gold-descript .pink-gold-price {
  margin-top: 5px;
  font-size: 17px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.best-seller-div .best-seller .pink-gold-shadow2 .pink-gold-shadow-descript2 .pink-gold-shadow-button2, .best-seller-div .best-seller .burgundy-shadow .burgundy-shadow-descript .burgundy-shadow-button, .best-seller-div .best-seller .peach-blush .peach-blush-descript .peach-blush-button, .collection-main-div .collection .eyeshadows .eyeshadows-descript .eyeshadows-button, .collection-main-div .collection .lipsticks .lipsticks-descript .lipsticks-button, .collection-main-div .collection .contours .contours-descript .contours-button, .highlight-main-page .highlight-page .highlight1 .highlight1-descript .highlight1-button, .highlight-main-page .highlight-page .highlight2 .highlight2-descript .highlight2-button, .highlight-main-page .highlight-page .highlight3 .highlight3-descript .highlight3-button, .blushes-main-page .blushes-main .peach-blush .peach-blush-descript .peach-blush-button, .blushes-main-page .blushes-main .pink-blush .pink-blush-descript .pink-blush-button, .blushes-main-page .blushes-main .red-blush .red-blush-descript .red-blush-button, .primers-main-page .primers-main .eye-primer .eye-primer-descript .eye-primer-button-div, .primers-main-page .primers-main .face-primer .face-primer-descript .face-primer-button-div, .selling-products-main-div .selling-products-div .contour1descript .button-div, .selling-products-main-div .selling-products-div .contour2 .contour2-descript .button-div, .selling-products-main-div .selling-products-div .contour-bundle .contour-bundle-descript .buy-now-button, .selling-products-main-div2 .selling-products-div2 .pink-gloss .pink-gloss-descript .pink-gloss-button-div, .selling-products-main-div2 .selling-products-div2 .vannila .vannila-descript .vannila-button-div, .selling-products-main-div2 .selling-products-div2 .cherry-cola .cherry-cola-descript .cherry-cola-button-div, .selling-products-main-div3 .back-in-stock-div, .selling-products-main-div3 .selling-products-div2 .pink-shadow .pink-shadow-descript .pink-shadow-button-div, .selling-products-main-div3 .selling-products-div2 .glittery-skyblue-shadow .glittery-skyblue-shadow-descript .glittery-skyblue-shadow-button-div, .selling-products-main-div3 .selling-products-div2 .pink-gold .pink-gold-descript .pink-gold-button-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.best-seller-div {
  margin-top: 50px; }
  @media (max-width: 815px) {
    .best-seller-div .best-seller {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media (max-width: 815px) {
    .best-seller-div .best-seller .pink-gold-shadow2 {
      width: 50%; } }
  @media (max-width: 630px) {
    .best-seller-div .best-seller .pink-gold-shadow2 {
      width: 60%;
      margin: 0 auto;
      margin-bottom: 30px; } }
  .best-seller-div .best-seller .pink-gold-shadow2 .pink-gold-shadow-img2 {
    max-width: 74%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .best-seller-div .best-seller .pink-gold-shadow2 .pink-gold-shadow-descript2 {
    margin-top: 20px; }
  @media (max-width: 815px) {
    .best-seller-div .best-seller .burgundy-shadow {
      width: 50%; } }
  @media (max-width: 630px) {
    .best-seller-div .best-seller .burgundy-shadow {
      width: 60%;
      margin: 0 auto;
      margin-bottom: 30px; } }
  .best-seller-div .best-seller .burgundy-shadow .burgundy-shadow-img {
    max-width: 74%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .best-seller-div .best-seller .burgundy-shadow .burgundy-shadow-descript {
    margin-top: 20px; }
  @media (max-width: 815px) {
    .best-seller-div .best-seller .peach-blush {
      width: 50%;
      margin: 45px auto;
      margin-bottom: 0; } }
  @media (max-width: 630px) {
    .best-seller-div .best-seller .peach-blush {
      width: 60%;
      margin: 0 auto; } }
  .best-seller-div .best-seller .peach-blush .peach-blush-img {
    max-width: 74%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .best-seller-div .best-seller .peach-blush .peach-blush-descript {
    margin-top: 20px; }

.collection-main-div {
  margin-top: 50px; }
  @media (max-width: 995px) {
    .collection-main-div .collection {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media (max-width: 995px) {
    .collection-main-div .collection .eyeshadows {
      width: 50%; } }
  @media (max-width: 630px) {
    .collection-main-div .collection .eyeshadows {
      width: 60%;
      margin: 0 auto;
      margin-bottom: 30px; } }
  .collection-main-div .collection .eyeshadows .eyeshadows-img {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 995px) {
      .collection-main-div .collection .eyeshadows .eyeshadows-img {
        width: 81%; } }
  .collection-main-div .collection .eyeshadows .eyeshadows-descript {
    margin-top: 10px; }
  .collection-main-div .collection .lipsticks {
    margin-right: 55px; }
    @media (max-width: 995px) {
      .collection-main-div .collection .lipsticks {
        width: 50%;
        margin-right: 0px; } }
    @media (max-width: 630px) {
      .collection-main-div .collection .lipsticks {
        width: 60%;
        margin: 0 auto; } }
    .collection-main-div .collection .lipsticks .lipsticks-img {
      width: 90.5%;
      margin: 0 auto;
      margin-top: 20px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 995px) {
        .collection-main-div .collection .lipsticks .lipsticks-img {
          width: 67.5%; } }
    .collection-main-div .collection .lipsticks .lipsticks-descript {
      margin-top: 10px; }
  @media (max-width: 995px) {
    .collection-main-div .collection .contours {
      width: 50%;
      margin: 25px auto; } }
  @media (max-width: 630px) {
    .collection-main-div .collection .contours {
      width: 60%; } }
  .collection-main-div .collection .contours .contours-img {
    width: 100%;
    margin-top: 70px; }
  .collection-main-div .collection .contours .contours-descript {
    margin-top: 66px; }
    @media (max-width: 1130px) {
      .collection-main-div .collection .contours .contours-descript {
        margin-top: 47px; } }

.liner-main-div {
  margin-top: 62px; }
  .liner-main-div .liner-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1170px;
    margin: 0 auto; }
    .liner-main-div .liner-div .liner-img-div .liner-img1 {
      width: 65%; }
    .liner-main-div .liner-div .liner-img-div .liner-img2 {
      width: 30%; }
    .liner-main-div .liner-div .liner-descript .liner-product-name {
      font-size: 48px; }
    .liner-main-div .liner-div .liner-descript .liner-button .liner-buy-now {
      color: #fff;
      background-color: #c39885;
      line-height: normal;
      max-width: 100%;
      height: auto;
      line-height: 1;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      padding: 0 .2em;
      border: 0;
      cursor: pointer;
      padding: 11px 40.7px; }

.div-for-header {
  margin-bottom: 50px; }

.highlight-main-page {
  margin-bottom: 110px; }
  @media (max-width: 970px) {
    .highlight-main-page .highlight-page {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media (max-width: 1200px) {
    .highlight-main-page .highlight-page {
      padding: 0 25px; } }
  @media (max-width: 970px) {
    .highlight-main-page .highlight-page .highlight1 {
      width: 45%;
      margin-left: 30px; } }
  @media (max-width: 636px) {
    .highlight-main-page .highlight-page .highlight1 {
      width: 60%;
      margin: 0 auto;
      margin-bottom: 30px; } }
  .highlight-main-page .highlight-page .highlight1 .highlight1-img {
    width: 100%; }
  .highlight-main-page .highlight-page .highlight1 .highlight1-descript {
    margin-top: 10px; }
  .highlight-main-page .highlight-page .highlight2 {
    margin-left: 20px; }
    @media (max-width: 970px) {
      .highlight-main-page .highlight-page .highlight2 {
        width: 45%; } }
    @media (max-width: 636px) {
      .highlight-main-page .highlight-page .highlight2 {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 30px; } }
    .highlight-main-page .highlight-page .highlight2 .highlight2-img {
      width: 100%; }
    .highlight-main-page .highlight-page .highlight2 .highlight2-descript {
      margin-top: 10px; }
  .highlight-main-page .highlight-page .highlight3 {
    margin-left: 20px; }
    @media (max-width: 636px) {
      .highlight-main-page .highlight-page .highlight3 {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 30px; } }
    @media (max-width: 970px) {
      .highlight-main-page .highlight-page .highlight3 {
        width: 45%;
        margin: 0 auto;
        margin-top: 50px; } }
    .highlight-main-page .highlight-page .highlight3 .highlight3-img {
      width: 100%; }
    .highlight-main-page .highlight-page .highlight3 .highlight3-descript {
      margin-top: 10px; }

.blushes-main-page .blushes-main .peach-blush {
  max-width: 775px; }
  .blushes-main-page .blushes-main .peach-blush .peach-blush-img {
    width: 92%;
    margin-top: 40px; }

.blushes-main-page .blushes-main .pink-blush .pink-blush-img {
  width: 100%; }

.blushes-main-page .blushes-main .red-blush .red-blush-img {
  width: 100%; }

.primers-main-page {
  margin-top: 60px;
  margin-bottom: 110px;
  width: 100%; }
  .primers-main-page .primers-main {
    max-width: 1170px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #835f50;
    font-family: "Open Sans Condensed", sans-serif;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    @media (max-width: 940px) {
      .primers-main-page .primers-main {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
    @media (max-width: 840px) {
      .primers-main-page .primers-main .eye-primer {
        width: 55%; } }
    @media (max-width: 750px) {
      .primers-main-page .primers-main .eye-primer {
        width: 75%;
        margin: 0 auto;
        margin-bottom: 30px; } }
    .primers-main-page .primers-main .eye-primer .eye-primer-img {
      width: 90%;
      margin: 0 auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    @media (max-width: 840px) {
      .primers-main-page .primers-main .face-primer {
        width: 55%; } }
    @media (max-width: 750px) {
      .primers-main-page .primers-main .face-primer {
        width: 75%;
        margin: 0 auto; } }
    .primers-main-page .primers-main .face-primer .face-primer-img {
      height: 77%;
      width: 90%;
      margin: 0 auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  height: 70px;
  font-size: 17px;
  color: #ad8574;
  position: fixed;
  z-index: 99999;
  background-color: #fff;
  width: 100%; }
  .header .header-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px; }
    @media (max-width: 600px) {
      .header .header-div {
        padding-top: 6px;
        padding-bottom: 6px; } }
    .header .header-div .header-logo {
      margin-left: 30px;
      width: 100px;
      max-width: 100%; }
      @media (max-width: 800px) {
        .header .header-div .header-logo {
          width: 11%; } }
    .header .header-div .header-ul-div {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      width: 65%; }
      @media (max-width: 1030px) {
        .header .header-div .header-ul-div {
          width: 80%; } }
      .header .header-div .header-ul-div .header-ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        font-family: "Open Sans Condensed", sans-serif; }
        .header .header-div .header-ul-div .header-ul .collections-header-li-a {
          color: #ad8574;
          text-decoration: none; }
          @media (max-width: 830px) {
            .header .header-div .header-ul-div .header-ul .collections-header-li-a {
              display: none; } }
        .header .header-div .header-ul-div .header-ul .best-sellers-header-li-a {
          color: #ad8574;
          text-decoration: none; }
          @media (max-width: 830px) {
            .header .header-div .header-ul-div .header-ul .best-sellers-header-li-a {
              display: none; } }
        .header .header-div .header-ul-div .header-ul .header-li:hover {
          color: #da838a;
          cursor: pointer; }
        .header .header-div .header-ul-div .header-ul .style-a {
          color: #ad8574;
          font-family: "Open Sans Condensed", sans-serif; }
        @media (max-width: 830px) {
          .header .header-div .header-ul-div .header-ul .collections-header-li {
            display: none; } }
        .header .header-div .header-ul-div .header-ul .collections-header-li:hover {
          color: #da838a;
          cursor: pointer; }
      @media (max-width: 830px) {
        .header .header-div .header-ul-div .best-sellers-header-li {
          display: none; } }
      .header .header-div .header-ul-div .best-sellers-header-li:hover {
        color: #da838a;
        cursor: pointer; }
      .header .header-div .header-ul-div .header-li-none {
        display: none; }
        @media (max-width: 830px) {
          .header .header-div .header-ul-div .header-li-none {
            display: block; } }

.main-image-div {
  position: relative;
  font-family: "Open Sans Condensed", sans-serif; }
  .main-image-div .main-image-text {
    font-size: 48px;
    color: #fff;
    position: absolute;
    top: 15%;
    left: 29px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .main-image-div .main-image-text:hover {
      -webkit-box-shadow: 0px 12px 51px 0 rgba(30, 30, 30, 0.52);
      box-shadow: 0px 12px 51px 0 rgba(30, 30, 30, 0.52);
      cursor: pointer; }
    @media (max-width: 1440px) {
      .main-image-div .main-image-text {
        font-size: 40px;
        top: 17%; } }
    @media (max-width: 1278px) {
      .main-image-div .main-image-text {
        font-size: 35px;
        top: 18%; } }
    @media (max-width: 1125px) {
      .main-image-div .main-image-text {
        font-size: 30px;
        top: 20%; } }
    @media (max-width: 967px) {
      .main-image-div .main-image-text {
        font-size: 25px;
        top: 23%; } }
    @media (max-width: 813px) {
      .main-image-div .main-image-text {
        font-size: 22px;
        top: 26%; } }
  .main-image-div .main-image-button {
    font-size: 40px;
    color: #fff;
    position: absolute;
    top: 34%;
    left: 42%;
    border: 2px #4c3a3a solid;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 240px;
    height: 59px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .main-image-div .main-image-button:hover {
      -webkit-box-shadow: 0px 12px 51px 0 rgba(30, 30, 30, 0.52);
      box-shadow: 0px 12px 51px 0 rgba(30, 30, 30, 0.52);
      cursor: pointer; }
    @media (max-width: 1324px) {
      .main-image-div .main-image-button {
        left: 41%; } }
    @media (max-width: 1255px) {
      .main-image-div .main-image-button {
        width: 230px;
        height: 50px;
        top: 35%;
        left: 41%;
        font-size: 35px; } }
    @media (max-width: 1188px) {
      .main-image-div .main-image-button {
        width: 220px;
        height: 45px;
        top: 36%;
        left: 40%;
        font-size: 30px; } }
    @media (max-width: 1088px) {
      .main-image-div .main-image-button {
        width: 205px;
        height: 38px;
        top: 37%;
        left: 40%;
        font-size: 25px; } }
    @media (max-width: 1012px) {
      .main-image-div .main-image-button {
        width: 190px;
        height: 41px;
        top: 38%;
        left: 40%;
        font-size: 20px; } }
    @media (max-width: 940px) {
      .main-image-div .main-image-button {
        width: 175px; } }
    @media (max-width: 870px) {
      .main-image-div .main-image-button {
        left: 42%;
        width: 139px; } }
  .main-image-div .main-image {
    width: 100%;
    margin-top: 70px; }

@media (max-width: 815px) {
  .selling-products-main-div .selling-products-div {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

@media (max-width: 815px) {
  .selling-products-main-div .selling-products-div .contour1descript {
    width: 50%; } }

@media (max-width: 630px) {
  .selling-products-main-div .selling-products-div .contour1descript {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px; } }

.selling-products-main-div .selling-products-div .contour1descript .contour1-img {
  max-width: 100%; }

@media (max-width: 815px) {
  .selling-products-main-div .selling-products-div .contour2 {
    width: 50%; } }

@media (max-width: 630px) {
  .selling-products-main-div .selling-products-div .contour2 {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px; } }

.selling-products-main-div .selling-products-div .contour2 .contour2-img {
  max-width: 100%; }

@media (max-width: 815px) {
  .selling-products-main-div .selling-products-div .contour-bundle {
    width: 50%;
    margin: 45px auto;
    margin-bottom: 0; } }

@media (max-width: 630px) {
  .selling-products-main-div .selling-products-div .contour-bundle {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px; } }

.selling-products-main-div .selling-products-div .contour-bundle .contour-bundle-img {
  max-width: 100%; }

.selling-products-main-div .selling-products-div .contour-bundle .contour-bundle-descript {
  margin-top: 15px; }

.selling-products-main-div2 {
  margin-top: 50px; }
  @media (max-width: 815px) {
    .selling-products-main-div2 .selling-products-div2 {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media (max-width: 815px) {
    .selling-products-main-div2 .selling-products-div2 .pink-gloss {
      width: 50%; } }
  @media (max-width: 630px) {
    .selling-products-main-div2 .selling-products-div2 .pink-gloss {
      width: 60%;
      margin: 0 auto;
      margin-bottom: 30px; } }
  .selling-products-main-div2 .selling-products-div2 .pink-gloss .pink-gloss-img {
    max-width: 100%; }
  .selling-products-main-div2 .selling-products-div2 .pink-gloss .pink-gloss-descript {
    margin-top: 15px; }
  .selling-products-main-div2 .selling-products-div2 .vannila {
    max-width: 781px; }
    @media (max-width: 815px) {
      .selling-products-main-div2 .selling-products-div2 .vannila {
        width: 50%; } }
    @media (max-width: 630px) {
      .selling-products-main-div2 .selling-products-div2 .vannila {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 30px; } }
    .selling-products-main-div2 .selling-products-div2 .vannila .vannila-img {
      max-width: 78%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 0 auto; }
      @media (max-width: 815px) {
        .selling-products-main-div2 .selling-products-div2 .vannila .vannila-img {
          max-width: 91%; } }
      @media (max-width: 670px) {
        .selling-products-main-div2 .selling-products-div2 .vannila .vannila-img {
          max-width: 85%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          margin: 0 auto; } }
    .selling-products-main-div2 .selling-products-div2 .vannila .vannila-descript {
      margin-top: 15px; }
      @media (max-width: 815px) {
        .selling-products-main-div2 .selling-products-div2 .vannila .vannila-descript {
          margin-top: 45px; } }
  @media (max-width: 815px) {
    .selling-products-main-div2 .selling-products-div2 .cherry-cola {
      width: 50%;
      margin: 30px auto; } }
  @media (max-width: 630px) {
    .selling-products-main-div2 .selling-products-div2 .cherry-cola {
      width: 60%;
      margin: 0 auto; } }
  .selling-products-main-div2 .selling-products-div2 .cherry-cola .cherry-cola-img {
    max-width: 100%; }
    @media (max-width: 815px) {
      .selling-products-main-div2 .selling-products-div2 .cherry-cola .cherry-cola-img {
        max-width: 70%;
        margin-left: 67px; } }
  .selling-products-main-div2 .selling-products-div2 .cherry-cola .cherry-cola-descript {
    margin-top: 28%; }
    @media (max-width: 815px) {
      .selling-products-main-div2 .selling-products-div2 .cherry-cola .cherry-cola-descript {
        margin-top: 0; } }

.selling-products-main-div3 {
  width: 100%;
  margin-top: 50px;
  background-color: #ede4e0;
  padding-top: 35px;
  padding-bottom: 30px;
  margin-top: 60px;
  margin-top: 60px;
  font-family: "Open Sans Condensed", sans-serif; }
  .selling-products-main-div3 .back-in-stock-div {
    margin-bottom: 10px; }
    .selling-products-main-div3 .back-in-stock-div .back-in-stock {
      font-size: 40px;
      color: #835f50; }
  @media (max-width: 815px) {
    .selling-products-main-div3 .selling-products-div2 {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media (max-width: 815px) {
    .selling-products-main-div3 .selling-products-div2 .pink-shadow {
      width: 50%; } }
  @media (max-width: 630px) {
    .selling-products-main-div3 .selling-products-div2 .pink-shadow {
      width: 60%;
      margin: 0 auto;
      margin-bottom: 30px;
      margin-top: 20px; } }
  .selling-products-main-div3 .selling-products-div2 .pink-shadow .pink-shadow-img {
    max-width: 74%;
    margin-left: 50px; }
  .selling-products-main-div3 .selling-products-div2 .pink-shadow .pink-shadow-descript {
    margin-top: 15px; }
  @media (max-width: 815px) {
    .selling-products-main-div3 .selling-products-div2 .glittery-skyblue-shadow {
      width: 50%; } }
  @media (max-width: 630px) {
    .selling-products-main-div3 .selling-products-div2 .glittery-skyblue-shadow {
      width: 60%;
      margin: 0 auto;
      margin-bottom: 30px; } }
  .selling-products-main-div3 .selling-products-div2 .glittery-skyblue-shadow .glittery-skyblue-shadow-img {
    max-width: 74%;
    margin-left: 50px; }
  .selling-products-main-div3 .selling-products-div2 .glittery-skyblue-shadow .glittery-skyblue-shadow-descript {
    margin-top: 15px; }
  @media (max-width: 815px) {
    .selling-products-main-div3 .selling-products-div2 .pink-gold {
      width: 50%;
      margin: 35px auto;
      margin-bottom: 0; } }
  @media (max-width: 630px) {
    .selling-products-main-div3 .selling-products-div2 .pink-gold {
      width: 60%;
      margin: 0 auto;
      margin-bottom: 30px; } }
  .selling-products-main-div3 .selling-products-div2 .pink-gold .pink-gold-img {
    max-width: 74%;
    margin-left: 50px; }
  .selling-products-main-div3 .selling-products-div2 .pink-gold .pink-gold-descript {
    margin-top: 15px; }

.footer {
  margin-top: 50px; }
  .footer .section-form {
    font-family: "Open Sans Condensed", sans-serif;
    max-width: 1170px;
    margin: 0 auto; }
    .footer .section-form .footer-section-title {
      font-size: 60px;
      font-weight: 900;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: #4c3a3a; }
      @media (max-width: 580px) {
        .footer .section-form .footer-section-title {
          font-size: 52px; } }
    .footer .section-form .footer-section-text {
      font-size: 14px;
      font-weight: 500;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 10px 0 30px; }
      @media (max-width: 565px) {
        .footer .section-form .footer-section-text {
          margin: 16px 0 30px; } }
    .footer .section-form .form-div .input-emailaddress {
      -webkit-box-shadow: 0px 12px 51px 0 rgba(30, 30, 30, 0.05);
      box-shadow: 0px 12px 51px 0 rgba(30, 30, 30, 0.05);
      border: none;
      padding: 15px 10px 20px;
      border-bottom: 2px solid rgba(30, 30, 30, 0.2);
      font-size: 24px;
      margin-bottom: 20px;
      text-indent: 17px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 0 auto;
      width: 45%; }
      @media (max-width: 655px) {
        .footer .section-form .form-div .input-emailaddress {
          width: 50%; } }
      @media (max-width: 595px) {
        .footer .section-form .form-div .input-emailaddress {
          width: 60%; } }
    .footer .section-form .form-div .button-sign-up-div {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 30px; }
      .footer .section-form .form-div .button-sign-up-div .button-sign-up {
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 18%;
        padding: 20px 0 16px;
        -webkit-transition: all 0.15s;
        -o-transition: all 0.15s;
        transition: all 0.15s;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        letter-spacing: 0.5px;
        border: 2px solid 1 #4c3a3a;
        background-color: #4c3a3a; }
        .footer .section-form .form-div .button-sign-up-div .button-sign-up .sign-in {
          color: #fff; }
        .footer .section-form .form-div .button-sign-up-div .button-sign-up:hover {
          -webkit-box-shadow: 0px 10px 30px 0 rgba(109, 101, 101, 0.6);
          box-shadow: 0px 10px 30px 0 rgba(109, 101, 101, 0.6);
          cursor: pointer; }
  .footer .footer-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #4c3a3a;
    padding: 3px 0; }
    .footer .footer-div .footer-logo {
      width: 100px;
      max-width: 100%;
      margin-left: 30px;
      margin: 0 50px; }
      @media (max-width: 800px) {
        .footer .footer-div .footer-logo {
          width: 12%;
          height: 66px; } }
      @media (max-width: 750px) {
        .footer .footer-div .footer-logo {
          margin: 0 42px 0 0; } }
      @media (max-width: 680px) {
        .footer .footer-div .footer-logo {
          width: 14%; } }
      @media (max-width: 530px) {
        .footer .footer-div .footer-logo {
          margin: 0 28px 0 0; } }
    .footer .footer-div .footer-li-div {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 55%;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      color: #fff;
      font-size: 16px;
      font-family: "Open Sans Condensed", sans-serif; }
      @media (max-width: 750px) {
        .footer .footer-div .footer-li-div {
          width: 73%; } }

.best-seller-div {
  margin-top: 50px; }
  @media (max-width: 815px) {
    .best-seller-div .best-seller {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media (max-width: 815px) {
    .best-seller-div .best-seller .pink-gold-shadow2 {
      width: 50%; } }
  @media (max-width: 630px) {
    .best-seller-div .best-seller .pink-gold-shadow2 {
      width: 60%;
      margin: 0 auto;
      margin-bottom: 30px; } }
  .best-seller-div .best-seller .pink-gold-shadow2 .pink-gold-shadow-img2 {
    max-width: 74%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .best-seller-div .best-seller .pink-gold-shadow2 .pink-gold-shadow-descript2 {
    margin-top: 20px; }
  @media (max-width: 815px) {
    .best-seller-div .best-seller .burgundy-shadow {
      width: 50%; } }
  @media (max-width: 630px) {
    .best-seller-div .best-seller .burgundy-shadow {
      width: 60%;
      margin: 0 auto;
      margin-bottom: 30px; } }
  .best-seller-div .best-seller .burgundy-shadow .burgundy-shadow-img {
    max-width: 74%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .best-seller-div .best-seller .burgundy-shadow .burgundy-shadow-descript {
    margin-top: 20px; }
  @media (max-width: 815px) {
    .best-seller-div .best-seller .peach-blush {
      width: 50%;
      margin: 45px auto;
      margin-bottom: 0; } }
  @media (max-width: 630px) {
    .best-seller-div .best-seller .peach-blush {
      width: 60%;
      margin: 0 auto; } }
  .best-seller-div .best-seller .peach-blush .peach-blush-img {
    max-width: 74%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .best-seller-div .best-seller .peach-blush .peach-blush-descript {
    margin-top: 20px; }

.collection-main-div {
  margin-top: 50px; }
  @media (max-width: 995px) {
    .collection-main-div .collection {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media (max-width: 995px) {
    .collection-main-div .collection .eyeshadows {
      width: 50%; } }
  @media (max-width: 630px) {
    .collection-main-div .collection .eyeshadows {
      width: 60%;
      margin: 0 auto;
      margin-bottom: 30px; } }
  .collection-main-div .collection .eyeshadows .eyeshadows-img {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 995px) {
      .collection-main-div .collection .eyeshadows .eyeshadows-img {
        width: 81%; } }
  .collection-main-div .collection .eyeshadows .eyeshadows-descript {
    margin-top: 10px; }
  .collection-main-div .collection .lipsticks {
    margin-right: 55px; }
    @media (max-width: 995px) {
      .collection-main-div .collection .lipsticks {
        width: 50%;
        margin-right: 0px; } }
    @media (max-width: 630px) {
      .collection-main-div .collection .lipsticks {
        width: 60%;
        margin: 0 auto; } }
    .collection-main-div .collection .lipsticks .lipsticks-img {
      width: 90.5%;
      margin: 0 auto;
      margin-top: 20px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 995px) {
        .collection-main-div .collection .lipsticks .lipsticks-img {
          width: 67.5%; } }
    .collection-main-div .collection .lipsticks .lipsticks-descript {
      margin-top: 10px; }
  @media (max-width: 995px) {
    .collection-main-div .collection .contours {
      width: 50%;
      margin: 25px auto; } }
  @media (max-width: 630px) {
    .collection-main-div .collection .contours {
      width: 60%; } }
  .collection-main-div .collection .contours .contours-img {
    width: 100%;
    margin-top: 70px; }
  .collection-main-div .collection .contours .contours-descript {
    margin-top: 66px; }
    @media (max-width: 1130px) {
      .collection-main-div .collection .contours .contours-descript {
        margin-top: 47px; } }
